<template name="CreateGame">
  <form>
    <div class="form-group">
      <label>Game Title</label>
      <input name="title" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Number of Players</label>
      <input name="numPlayers" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Initial Cash</label>
      <div class="input-group">
        <div class="input-group-addon">£</div>
        <input name="initialCash" placeholder="1500" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label>Past Go Cash</label>
      <div class="input-group">
        <div class="input-group-addon">£</div>
        <input name="pastGoCash" placeholder="200" type="text" class="form-control">
      </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</template>
